<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcw.sapienza.places" >


    <uses-permission android:name="android.permission.INTERNET" />      <!--required for google maps api and parse and RemoteSettings-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />      <!--required for  google maps api and parse -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>     <!--required for  google maps api-->
    <!-- The following two permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>    <!-- google maps api-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>   <!-- google maps api and it is our main feature-->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>   <!-- google maps api-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.gcw.sapienza.places.PlacesApplication">

        <!-- **** REQUIRED FOR GOOGLE MAPS API **** -->

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- API KEY-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCs5UkCaZDiKLA3CpkUcxmH_wcFW56NoGA"/>

        <!-- **** END REQUIRED ****  -->

        <!-- SplashScreen is the first activity to be started -->
        <activity
            android:name=".SplashScreen">
            android:label="SplashScreen"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".FlagsListActivity">
        </activity>

        <activity android:name=".FlagsMapActivity">
        </activity>

        <activity android:name=".ShareActivity">
        </activity>

        <!-- service for monitoring user position -->
        <service android:name=".LocationService" />

    </application>

</manifest>
